.displaycenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.displaybetween{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}