<div class="page displaycenter">
<div>
    <video id="video" #video></video>
    <canvas #canvas></canvas>
    <button class="btn btn-sm btn-primary w-100" (click)="capturephoto()" *ngIf="capture">Capture</button>
    <div class="displaybetween mt-1" *ngIf="!capture">
        <button mat-raised-button color="primary" class="matbutton" (click)="retakephoto()">retake</button>
        <button mat-raised-button color="warn" class="matbutton" (click)="verify()">verify</button>
    </div>
</div>
</div>
