<div class="page">
  <app-topnav>
    <h2>Home page dashboard</h2>
  </app-topnav>
  <div class="homecontent m-3">
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-content>
          <ng-container *ngIf="postForm;else elseBlock">
            <form [formGroup]="userForm">
                <h2>Post Form</h2>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>UserName</mat-label>
                  <input
                    matInput
                    placeholder="Enter UserName"
                    formControlName="username"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Enter your email"
                    formControlName="email"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Enter your phone number"
                    formControlName="phone"
                    appNumber
                  />
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>select date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dob">
                  <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="form-group">
                  <label class="fw-bold">Gender</label>
                  <div class="radioitem">
                    <input
                      class="form-check"
                      type="radio"
                      value="Male"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="radioitem">
                    <input
                      type="radio"
                      class="form-check"
                      value="Female"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Female</label>
                  </div>
                </div>
                <div class="btnsField">
                  <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">
                      submit
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="clearform()">Cancel</button>
                </div>
              </form>
          </ng-container>
          <ng-template #elseBlock>
            <form [formGroup]="userForm">
              <div class="displaybetween">
                <h2>Edit form</h2>
                <button mat-icon-button color="primary" (click)="gotopostpage()">
                  <mat-icon>chevron_left</mat-icon>
                </button>
              </div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>UserName</mat-label>
                  <input
                    matInput
                    placeholder="Enter UserName"
                    formControlName="username"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Enter your email"
                    formControlName="email"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Enter your phone number"
                    formControlName="phone"
                    appNumber
                  />
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>select date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dob">
                  <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="form-group">
                  <label class="fw-bold">Gender</label>
                  <div class="radioitem">
                    <input
                      class="form-check"
                      type="radio"
                      value="Male"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="radioitem">
                    <input
                      type="radio"
                      class="form-check"
                      value="Female"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Female</label>
                  </div>
                </div>
                <div class="btnsField">
                  <button mat-raised-button color="primary" type="submit" (click)="savechanges()">
                      Edit
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="clearform()">Cancel</button>
                </div>
              </form>
            
          </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card>
            <mat-card-content>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>Dob/age</th>
                            <th>gender</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userlist">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.dob}} || {{user.age}}</td>
                            <td>{{user.gender|gender}}</td>
                            <td>
                                <button mat-icon-button color="primary" (click)="edit(user)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" type="button" data-toggle="modal" data-target="#deleteitem" (click)="deleteitem(user.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteitem">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-head">
                <h2 class="text-center">Are you sure want to delete item {{itemid}}</h2>
            </div>
            <div class="modal-body displaybetween">
                <button mat-raised-button color="warn" data-dismiss="modal" (click)="onDelete()">Delete</button>
                <button mat-raised-button color="primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
