.page{
    min-height: 100vh;
    width: 100%;
}
.sidenav{
    min-height: 100vh;
    border: 1px solid black;
}
.sidenavul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidenavul a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.active{
    background-color: greenyellow;
    border-radius: 1rem;
}
.sidenav{
    width: 4rem;
    a .menuNames{
        display: none;
    }
}
.sidenav:hover{
    .expandbutton{
        display: block;
    }
}
    .sidenavexpand{
        width: 15rem;
        a .menuNames{
            display: inline-block;
        }
        .expandbutton{
            position: absolute;
            top: 0;
            left: 13rem;
        }
    }

.logoutlist{
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.maincontent{
    width: 100%;
}
.expandbutton{
    position: absolute;
    top: 0rem;
    left: 3.8rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    display: none;
    
}