.page{
    min-height: 100vh;
    width: 100%;
}
.dropdownbutton{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language{
    display: none;
}
.matcard{
    height: 15rem;
    overflow-y: scroll;
}
table thead{
    position: sticky;
    top: 0rem;
}
.displaycenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


