.page{
    min-height: 100vh;
    width: 100%;
}
.sidenav{
    min-height: 100vh;
    border: 1px solid black;
}
.sidenavul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidenavul a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.active{
    background-color: greenyellow;
    border-radius: 1rem;
}
.sidenav{
    width: 4rem;
    a .menuNames{
        display: none;
    }
}
.sidenav:hover{
    width: 15rem;
    a .menuNames{
        display: inline-block;
    }
}

.logoutlist{
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.maincontent{
    width: 100%;
}