.topnav{
    background-color: pink;
    padding: 0.5rem 2rem;
}
.userphoto{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.dropdownbutton{
    width: 10rem;
    border-radius: 2rem;
    display: flex;
    padding-right: 0.5rem;
}
.dropdown-item{
    text-align: center;
    color: red;
}
.dropdown-item:focus{
    background-color: white;
}