<div class="page displaycenter">
    <mat-card class="matCard">
        <mat-card-content>
            <div class="row firstrow">
                <div class="col-6">
                    <div class="displaycenter firstcol">
                        <img src="../../../assets/images/soham.png" alt="sohamLogo" class="sohamlogo">
                    </div>
                </div>
                <div class="col-6">
                    <div class="displaycenter firstcol">
                        <ng-container *ngIf="frlogin;else elseBlock">
                            <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
                        </ng-container>
                        <ng-template #elseBlock>
                            <app-frlogin></app-frlogin>
                        </ng-template>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>