.page{
    min-height: 100vh;
    width: 100%;
}
.matCard{
    width: 45%;
    height: 28rem;
}
.sohamlogo{
    height: 60%;
    width: 60%;
}
.firstrow{
    height: 27rem;
}
.firstcol{
    height: 26rem;
}